:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
  background: linear-gradient(to right, #FFD700, #FFFFFF);
}

body{
  flex:1;
  flex-direction: column;
  align-items: center;
}

.chat-header {
  font-size: 24px;
  font-weight: bold;
  padding: 1rem 0;
  color: #000;
}

.chatbot-popup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  max-height: 800px;
  overflow-y: auto;
  width: 100%;
  max-width: 900px;
}

.chat-body {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
  padding: 1rem 0;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
  max-width: 800px;
  font-size: 24px;
  background: none;
}

.message-bot-message{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.75rem
}

.message-user-message{
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.message-text{
  flex: 1;
  padding: 0.75rem 1rem;
  font-size: 16px;
  border: 1px solid yellowgreen;
  border-radius: 8px 0 0 8px;
  outline: none;
  color: #222;
}

.chat-footer {
  flex: 1;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  max-width: 800px;
  gap: 0.5rem;
}

button {
  border: none;
  background-color: #ffd700;
  color: #000;
  padding: 0.75rem 1rem;
  font-size: 18px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #f1c40f;
}

@media (max-width: 600px) {
  .chatbot-popup {
    max-width: 100%;
    padding: 1rem;
  }
}
